* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  color: black; }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  background-color: #cce8e2;
  display: flex;
  flex-direction: column; }
  body .page-content {
    flex: auto;
    display: flex;
    flex-direction: column; }

header {
  align-items: center;
  box-shadow: 0 0 5px gray;
  background-color: white; }
  header .alert-message {
    color: red;
    font-size: x-small;
    text-align: center;
    padding-block: 0.5em;
    border-bottom: 1px solid #c2c2c2; }
  header .container-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem; }
    header .container-topbar .left-topbar {
      display: flex; }
      header .container-topbar .left-topbar .image img {
        height: 2.5em;
        width: auto;
        -webkit-filter: grayscale(100%);
        /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        /* Firefox */ }
      header .container-topbar .left-topbar .logo-site {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0.2rem; }
        header .container-topbar .left-topbar .logo-site .product-name {
          color: #1A9988;
          font-size: x-large;
          font-weight: 800; }
        header .container-topbar .left-topbar .logo-site .entreprise {
          color: #EB5600;
          font-size: x-small;
          font-weight: 400; }
    header .container-topbar .right-topbar {
      display: flex;
      height: auto; }
      header .container-topbar .right-topbar .navbar-button {
        display: inline-flex;
        align-items: center; }
      header .container-topbar .right-topbar span {
        color: gray;
        margin-inline-end: 1rem; }
        header .container-topbar .right-topbar span:hover {
          color: #1A9988;
          transition: 0.2s ease-in-out; }
      header .container-topbar .right-topbar .profile {
        display: flex;
        border: 1px solid gray;
        padding: 0.2rem;
        border-radius: 2rem; }
        header .container-topbar .right-topbar .profile:hover {
          background-color: #e4fffb;
          transform: scale(1.02);
          transition: 0.2s ease-in-out; }
        header .container-topbar .right-topbar .profile .profile-picture img {
          height: 2em;
          width: auto;
          border-radius: 50%; }
        header .container-topbar .right-topbar .profile .pharmacist-data {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-width: 6rem;
          margin-left: 0.5rem; }
          header .container-topbar .right-topbar .profile .pharmacist-data .name {
            font-size: small; }
          header .container-topbar .right-topbar .profile .pharmacist-data .function {
            font-size: xx-small;
            color: gray; }

section.accueil {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vh; }
  section.accueil h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 50px; }
  section.accueil .links {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    section.accueil .links a {
      background-color: white;
      border-radius: 0.3em;
      padding: 10px 20px;
      width: 175px;
      margin-inline: 20px;
      box-shadow: 0 0 5px 0.5px #bcbbbb;
      border-left: #EB5600 8px solid;
      font-size: large;
      transition: 0.2s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      section.accueil .links a:hover {
        border-left: #1A9988 8px solid; }
      section.accueil .links a .material-symbols-outlined {
        font-size: 150px;
        color: #d5d5d5; }
      section.accueil .links a .description {
        font-size: xx-small;
        color: gray;
        border-top: 1px solid #c1c1c1;
        padding-top: 1em;
        text-align: justify; }
      section.accueil .links a .link-title {
        font-size: larger;
        text-align: center;
        color: #1A9988; }
  section.accueil .apropos-link {
    color: gray;
    font-size: x-small;
    text-align: center;
    margin-top: 2em; }

/* FORMULAIRE DE CONNEXION */
section.login {
  display: flex;
  justify-content: center;
  height: 80vh; }
  section.login div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh; }
    section.login div.container .erreur_form {
      text-align: center; }

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 350px;
  height: 350px;
  padding: 2em;
  background: linear-gradient(180deg, #4C9E8E 0%, #F4D496 49.48%, #FFAB6F 100%);
  backdrop-filter: blur(2px);
  align-items: center; }

.login_form h1, .login_form #submit {
  text-align: center; }

.login_form div {
  display: flex;
  flex-direction: column; }

.login_form label {
  color: #13796b;
  /* font-weight: bold; */
  margin-block: 0.5em; }

.login_form .champs_saisie {
  height: 3em;
  line-height: em;
  border: none;
  font-size: medium;
  padding-inline: 1em;
  width: 300px; }

.login_form #submit {
  width: 150px;
  border: none;
  color: white;
  background-color: #EB5600;
  border-radius: 0.3em;
  /* font-weight: bold; */
  font-size: medium;
  padding-block: 0.5em; }

.login_form h1 {
  color: #13796b;
  font-size: xx-large;
  font-weight: 500; }

.page_connexion {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.erreur {
  padding: 0.5em 1em;
  background-color: #ffabab;
  color: #a73d00;
  margin-top: 15px; }

.reset_password {
  color: gray;
  font-size: small;
  text-decoration: underline; }

/* FOOTER */
footer {
  bottom: 0;
  background-color: white;
  min-width: 100%;
  display: flex;
  color: gray;
  font-size: x-small;
  /* border-top: 1px solid gray; */
  box-shadow: 0 0 5px gray;
  padding-block: 15px;
  justify-content: space-between;
  z-index: 2;
  transition: ease-in-out 0.2s; }

.hour {
  display: flex;
  flex-direction: column;
  padding-inline: 50px; }

.connexionSillage {
  display: flex;
  padding-inline: 50px; }

.indicator {
  background-color: #ffa200;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.indicator_link {
  margin-left: 1em; }

/* MONITORING */
.sav_section {
  background-color: white;
  box-shadow: 0 0 5px 0.5px #bcbbbb;
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 5%; }

.sav_section .left_side {
  padding: 2em; }

.sav_section .left_side .connectivite_Sillage {
  margin-bottom: 2em; }

.sav_section .connectivite_Sillage .stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 0.5em; }

.sav_section .connectivite_Sillage .stats .graphic {
  display: flex;
  flex-direction: row;
  justify-content: left; }

.sav_section .connectivite_Sillage .stats .graphic .graphic_item {
  height: 1.25em;
  width: 0.5em;
  border-radius: 0.3em;
  background-color: #1A9988;
  margin-right: 0.3em; }

.sav_section .connectivite_Sillage .stats .graphic .gray {
  background-color: #dddddd; }

.sav_section .connectivite_Sillage .text {
  font-size: x-small;
  color: gray;
  text-align: justify; }

.sav_section .contact_SAV .email_phone {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-block: 0.5em; }

.sav_section .contact_SAV .email_phone .texte {
  margin-right: 0.5em; }

.sav_section .image img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  overflow: hidden;
  max-height: 500px; }

section.table_page {
  background-color: white;
  margin: 2%;
  padding: 2rem;
  border-radius: 1rem;
  flex: auto;
  display: flex;
  flex-direction: column; }
  section.table_page .header h1 {
    font-size: x-large;
    padding-bottom: 0.2em; }
  section.table_page .header .description {
    color: #b0b0b0;
    font-size: x-small;
    text-align: justify;
    padding-bottom: 2em; }
  section.table_page .scrollable {
    overflow-x: scroll;
    overflow-y: scroll;
    flex: auto;
    width: 100%; }
    section.table_page .scrollable table {
      overflow: auto;
      line-height: 1em;
      border-collapse: collapse;
      margin: 1em 0;
      font-size: small;
      width: 100%; }
      section.table_page .scrollable table th, section.table_page .scrollable table td {
        padding: 0.5em 1em; }
      section.table_page .scrollable table thead tr th {
        background-color: #1A9988;
        color: white;
        text-align: left; }
      section.table_page .scrollable table tbody tr {
        border-bottom: 1px solid #dddddd; }
        section.table_page .scrollable table tbody tr:nth-of-type(even) {
          background-color: #f3f3f3; }
        section.table_page .scrollable table tbody tr:hover {
          background-color: #ffdcc8; }
        section.table_page .scrollable table tbody tr.cancelled {
          text-decoration: line-through; }
        section.table_page .scrollable table tbody tr .icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 0.3rem;
          text-align: center;
          width: 1.2rem;
          height: 1.2rem; }
        section.table_page .scrollable table tbody tr .red {
          background-color: #ffa9a9;
          color: #960000; }
        section.table_page .scrollable table tbody tr .green {
          background-color: #a9da90;
          color: #287413; }
        section.table_page .scrollable table tbody tr .pink {
          color: #ff5ddf;
          background-color: #ffcbf5; }
        section.table_page .scrollable table tbody tr .blue {
          color: blue;
          background-color: #c8c8ff; }
        section.table_page .scrollable table tbody tr .orange {
          color: #bf8900;
          background-color: #ffd6ac; }
        section.table_page .scrollable table tbody tr .secondary {
          color: gray;
          font-size: small; }
        section.table_page .scrollable table tbody tr .alert {
          font-size: medium; }
        section.table_page .scrollable table tbody tr .icon_text {
          display: flex; }
          section.table_page .scrollable table tbody tr .icon_text span {
            font-size: medium; }
          section.table_page .scrollable table tbody tr .icon_text div {
            margin-left: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center; }

.page_miniform {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .page_miniform .centering {
    display: flex;
    justify-content: center; }
    .page_miniform .centering .formulaire {
      background-color: white;
      border-radius: 0.5rem;
      max-width: 400px;
      padding: 15px 50px;
      display: flex;
      flex-direction: column;
      text-align: left; }
      .page_miniform .centering .formulaire form h1 {
        font-weight: lighter;
        font-size: xx-large;
        text-align: center;
        margin-bottom: 1em; }
      .page_miniform .centering .formulaire form p {
        color: gray; }
      .page_miniform .centering .formulaire form p.description {
        font-size: small;
        margin-bottom: 1rem; }
      .page_miniform .centering .formulaire form input {
        width: 100%;
        border: none;
        padding-block: 0.5rem;
        border-bottom: 2px solid #1A9988;
        margin-bottom: 1rem;
        outline: none;
        color: #000000;
        font-size: medium; }
        .page_miniform .centering .formulaire form input:focus {
          border-bottom: 2px solid #EB5600; }
      .page_miniform .centering .formulaire form .submit {
        background-color: #EB5600;
        width: 100%;
        border-radius: 0.5rem;
        color: white;
        padding-block: 0.5rem;
        text-align: center;
        border: none; }
        .page_miniform .centering .formulaire form .submit:hover {
          background-color: #d24d00; }
      .page_miniform .centering .formulaire form .menu {
        width: 100%;
        height: 1.5em;
        margin-bottom: 7%; }

section.information {
  display: flex;
  justify-content: center; }
  section.information div.container {
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: center;
    max-width: 500px; }
    section.information div.container div {
      background-color: white;
      border-radius: 0.5rem;
      padding: 2rem; }
      section.information div.container div h1 {
        font-weight: lighter;
        font-size: xx-large;
        text-align: center;
        margin-bottom: 1em; }
      section.information div.container div .mail {
        text-align: center;
        color: #EB5600;
        padding-block: 1rem; }
      section.information div.container div .description {
        color: gray;
        font-size: small;
        margin-top: 1rem; }
      section.information div.container div strong {
        font-weight: normal;
        color: #1A9988; }

.page_patient {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column; }
  .page_patient .partient_informations {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em; }
    .page_patient .partient_informations .left-side {
      display: flex;
      flex-direction: row;
      padding-inline: 0.5em;
      border-radius: 0.3em;
      background-color: #EB5600;
      line-height: 2em;
      vertical-align: bottom; }
      .page_patient .partient_informations .left-side p {
        color: white;
        font-weight: bold; }
      .page_patient .partient_informations .left-side .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1em;
        color: white; }
    .page_patient .partient_informations .right-side {
      display: flex;
      flex-direction: row; }
      .page_patient .partient_informations .right-side a {
        background-color: white;
        border: none;
        border-radius: 0.5em;
        padding: 0.3em 0.75em;
        margin-inline: 0.25em;
        display: flex;
        flex-direction: row;
        justify-content: center; }
      .page_patient .partient_informations .right-side .text {
        color: gray;
        font-size: small;
        margin-left: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      .page_patient .partient_informations .right-side .icon {
        color: gray; }
  .page_patient section.patient_data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.9em;
    margin-bottom: 1em; }
    .page_patient section.patient_data .patient_data_element {
      background-color: white;
      border: none;
      border-radius: 0.5em;
      padding: 0.75em 0.75em;
      margin-right: 0.5em;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .page_patient section.patient_data .patient_data_element .icon {
        font-size: 2em;
        padding: 0.1em;
        color: #1A9988;
        border-radius: 0.3em;
        background-color: #d0ebe7; }
      .page_patient section.patient_data .patient_data_element .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1em; }
        .page_patient section.patient_data .patient_data_element .text .nomenclature {
          text-transform: uppercase;
          color: gray; }
        .page_patient section.patient_data .patient_data_element .text .data {
          display: flex;
          vertical-align: bottom;
          font-weight: 500; }
          .page_patient section.patient_data .patient_data_element .text .data.ipp_iep {
            font-size: x-small; }
          .page_patient section.patient_data .patient_data_element .text .data .unit {
            color: gray;
            font-size: small;
            margin-inline: 0.2rem; }
  .page_patient section.prescriptions {
    flex: auto; }
    .page_patient section.prescriptions section.table_page {
      margin: 0;
      border-radius: 0;
      width: 100%;
      line-height: 2rem;
      background-color: white; }
      .page_patient section.prescriptions section.table_page tr, .page_patient section.prescriptions section.table_page td {
        height: 2rem; }
  .page_patient .prescriptions_data {
    /* height: 500px; */
    /* width: auto; */
    overflow: auto;
    border-radius: 0.5em;
    background-color: white;
    display: flex;
    flex: row;
    /* overflow: hidden */ }
  .page_patient .prescriptions_data .sidebar {
    width: 450px;
    border-right: 1px solid #c1c1c1; }
  .page_patient .prescriptions_data .sidebar .title {
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid #c1c1c1;
    padding: 1em; }
  .page_patient .prescriptions_data .sidebar .scrollable {
    overflow-y: scroll;
    overflow-x: scroll;
    flex: auto;
    padding: 1em; }
  .page_patient .prescriptions_data .sidebar .labo_data {
    /* display: flex; */
    padding: 0.5em 1em;
    border-radius: 0.3em;
    box-shadow: 0 0 5px 0.5px #bcbbbb;
    border-left: #EB5600 5px solid;
    margin-bottom: 0.75em; }
  .page_patient .prescriptions_data .sidebar .labo_data .texte {
    font-size: small; }
  .page_patient .prescriptions_data .sidebar .labo_data .texte .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */ }

div.error_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 4rem 2rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  margin: auto;
  box-shadow: 0 0 5px gray; }
  div.error_container * {
    color: #1A9988;
    text-align: center;
    line-height: 2rem; }
  div.error_container h1 {
    font-weight: lighter;
    font-size: 50px;
    margin-bottom: 2rem; }
  div.error_container p {
    font-size: small; }
  div.error_container button {
    background-color: #EB5600;
    width: 100%;
    border-radius: 0.5rem;
    color: white;
    padding-block: 0.5rem;
    text-align: center;
    border: none; }
    div.error_container button:hover {
      background-color: #d24d00; }

/*# sourceMappingURL=style.css.map */
